.container {
 font-family: 'Mulish';
 display: grid;
 grid-template-columns: 0.3fr 2fr 2fr 0.3fr;
grid-template-rows: repeat(1fr, auto);
gap: 10px;
background-color: #FFFBFB;
/* for flexible height to adjust to contents use minmax */
/* grid-auto-rows: minmax(200px, auto); */
/* align-items: end; */
/* border: 1px solid blue; */
}

.button_e {
  height: 40px;
  width: 40px;
  grid-column: 4;
  grid-row: 2;
align-self:end;
border-radius: 10%;
border: none;
background-color: #3FBDF1;
font-weight: 700;
font-size: 16px;
align-items: center;
justify-content: center;
box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.3);
}


.button_exclamation {
  grid-column: 1;
 grid-row: 2;
 height: 40px;
 width: 40px;
 font-weight:700;
 font-size: 25px;
 background-color: #FFBA14;
justify-content:flex-start;
border-radius: 10%;
border: none;
box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.3);
}

.banner_exclamation {
 grid-column: 1;
 grid-row: 2;
 height: 40px;
 width: 40px;
justify-content:flex-start;
/* padding-top: 45px; */
 /* grid-row: 2; */
 /* align-self: end; */
 /* grid-column: span 3 / -1;  */
}



.banner_text{
color: #373F41;
grid-column: 2;
grid-row: 2;
padding: 20px;

}

.banner_span1 {
color: #de0036;
grid-row: 2;
margin-top: 15px;
}

.banner_span2 {
 color: #de0036;
 grid-row: 2;
 
 }

 .banner_span3 {
  color: #de0036;
  grid-row: 2;
  
  }

.banner_image {
grid-column: 3;
justify-self: center;
align-self: center;
grid-row: 2;

}
.banner_button {
 grid-row: 4;
background-color: #53BAC1;
font-family: 'Mulish';
font-weight: bold;
height: 40px;
width: 110px;
border-radius: .2em;
border: none;
padding: 5px;
margin-top: 10px;
}

.banner_letter_e {
  /* border: 1px solid black;
  grid-column: 4;
  grid-row: 2;
 justify-self: end;
 /* align-items: end; */
 /* grid-column: 4;  */
 }