.type_container {
 display: grid;
 grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr 1fr;
 gap: 6px;
 background-color: #Ffff;
  grid-auto-rows: minmax(100px, auto);
  /* border: 1px solid purple; */

}


.button_t {
  grid-column: 2;
 grid-row: 3;
 height: 35px;
 width: 35px;
 font-weight:700;
 font-size: 16px;
 background-color: #63BC44;
justify-content:flex-start;
border-radius: 10%;
border: none;
box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.3);
}

.button_y {
  grid-column: 3;
 grid-row: 1;
 height: 40px;
 width: 40px;
 font-weight:700;
 font-size: 16px;
 background-color: #FFBA14;
justify-content:flex-start;
border-radius: 10%;
border: none;
box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.3);
}


.button_p {
  grid-column: 4;
 grid-row: 2;
 height: 35px;
 width: 35px;
 font-weight:700;
 font-size: 16px;
 background-color: #FF4664;
justify-content:flex-start;
border-radius: 10%;
border: none;
box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.3);
}


.letter_e {
 grid-column: 5;
justify-self: end;
}

.letter_t {
 grid-column: 2;
 grid-row: 3;
 justify-self: end;
}

 
 .letter_y {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
 }


 .letter_p {
  grid-column: 4;
  grid-row: 2;
  justify-self: end;
 }